* { margin: 0; padding: 0; }
*::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); background-color: transparent; }
*::-webkit-scrollbar { width: 3px; background-color: transparent; }
*::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3); background-color: #aaa; }

body { font-size: 16px; font-family: sans-serif; }
ul { list-style: circle inside; }

header { background-color: #000; color: #fff; height:500px; position: relative; }
header img.logo { display: block; width: 200px; position: absolute; left:calc(50% - 100px); bottom: calc(50% - 100px); z-index: 10; }

nav ul { list-style: none; overflow-x: auto; display: flex; width: 100%; justify-content: center; background: #f8f8f8; }
nav ul li { min-width: 150px; }
nav ul li a { display: block; text-align: center; font-size: 1.4em; padding: 1em .5em; text-decoration: none; color: #666666; border-bottom: 2px solid; border-color: transparent; }
nav ul li a:hover { text-decoration: none; }
nav ul li a.active { background-color: #ffffff; color: #0e81ff; border-color: #0e81ff }

section { line-height: 1.5em; }
section article + article { border-top: 1px solid #ccc; padding-top: 1em; }

input { padding: .65em; display: block; border: 1px solid #ccc; outline: none; width: calc(100% - 1.3em - 2px); border-radius: .3em; }

hr { border:none; border-bottom: 1px solid #ccc; margin-bottom: 2em; padding-top: 2em; }
.container { width: 80%; margin: 0 auto; }

.row { display: flex; flex-wrap: wrap; }
.align-items-center { align-items: center; }
.row .col-4 { width: 33.34%; }

.form-control { width: calc(100% - 1.2em); padding: .5em; border-radius: .3em; border:1px solid #ccc; outline: none; font-family: inherit; font-size: inherit; line-height: 1em; }
.label-control { padding-bottom: 5px; display: inline-block; }

.btn { display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; cursor: pointer; }
.btn-primary { color: #fff; background-color: #007bff; border-color: #007bff; }
.btn-warning { color: #212529; background-color: #ffc107; border-color: #ffc107; }
.btn-danger { color: #fff; background-color: #dc3545; border-color: #dc3545; }

.w-100 { width: 100%; }
.resaltar { background-color: #dedede; }
.cursor-pointer { cursor: pointer; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }
.text-truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-white { color: #ffffff; }
.text-error { color:rgb(200,0,0); }
.text-link,
.text-link:hover,
.text-link:visited { color: #0056b3; text-decoration: none; }

.bg-light { background-color: #fafafa; }
.bg-white { background-color: #ffffff; }
.bg-primary { background-color: #007bff; }
.bg-dark { background-color: #111; }
.bg-secondary { background-color: #5a6268; }
.bg-success { background-color: #28a745; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }

.d-block { display: block; }
.d-none { display: none !important; }

.list { list-style: none; width: 100%; margin-left: 0; }
.list li { display: inline-block; width: auto; }
.list li a { width: auto; }
.list li + li { padding-left: 10px; margin-left: 5px; border-left: 1px solid #ccc; }

.border { border: 1px solid; border-color: #ddd; }
.border-bottom { border-bottom: 1px solid; border-color: #ddd; }
#img-api { position: absolute; overflow: hidden; width: 100%; height: 100%; background-color: #000; }
#img-api > img { min-width: 100%; display: block; }
#img-api > p { position: absolute; width: 100%; text-align: center; padding: 5px 0; top: 0; left: 0; background-color: rgba(0,0,0,0.4); color: #fff; }
.mx-auto { margin-left: auto; margin-right: auto; }
.m-0 { margin: 0 !important; }
.m-1 { margin: 1em; }
.m-2 { margin: 2em; }
.mr-1 { margin-right: 1em; }
.mr-2 { margin-right: 2em; }
.ml-1 { margin-left: 1em; }
.ml-2 { margin-left: 2em; }
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }

.p-0 { padding: 0 !important; }
.p-1 { padding: 1em; }
.p-2 { padding: 2em; }
.pt-x1 { padding-top: 1em; padding-bottom: 1em; }
.pr-1 { padding-right: 1em; }
.pr-2 { padding-right: 2em; }
.pl-1 { padding-left: 1em; }
.pl-2 { padding-left: 2em; }
.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-4 { padding-bottom: 4em; }

.modal-open { }
.modal-open .modal { }
.modal { z-index: 100; position: fixed; top: 0; right: 0; left: 0; bottom: 0; display: none; }
.modal { background-color: rgba(100,100,100,.4); width: 100%; height: 100%; }
.modal .modal-container { margin: 1.5rem auto; width: 500px; }
.modal .modal-container .modal-contenido { background: #fff; display: flex; flex-direction: column; width: 100%; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; }
.modal-header { display: flex; align-items: flex-start; justify-content: space-between; padding: 1rem; border-bottom: 1px solid #e9ecef; border-top-left-radius: .3rem; border-top-right-radius: .3rem; }
.modal-body { position: relative; flex: 1 1 auto; padding: 1rem; }
.show { display: block !important; }
.close { color: #000; text-decoration: none; opacity: .75; padding: 1rem; margin: -1rem -1rem -1rem auto; background-color: transparent; border: 0 }
.close span::before { content: "x"; }
.modal-body p strong + strong { border-left: 1px solid; padding-left: 5px; margin-left: 5px; }
.modal-body p { padding-top: 5px; }
.modal-body p + p { border-top: 1px solid; margin-top: 5px; }
.modal-footer { font-size: 12px; display: flex; align-items: center; justify-content: flex-end; padding: 1rem; border-top: 1px solid #e9ecef; border-bottom-left-radius: .3rem; border-bottom-right-radius: .3rem; }
#buscador p.f::before { content:"Fecha: "; }
#buscador p.f:first-child { padding-top: 0; }

section article ul { list-style: none; display: flex; flex-wrap: wrap; margin-left: -5px; }
section ul a,
#data a { display: inline-block; width: calc(100% - 50px); vertical-align: bottom; }
footer { border-top: 10px solid #000; }
@media screen and (min-width: 1024px) {

  .col-btn { padding-top: 2em; }
  .row .col-lg-4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; }
  .row .col-lg-6 { -ms-flex: 0 0 49.5%; flex: 0 0 49.5%; max-width: 49.5%; }
  .row .col-lg-6:first-child { padding-right: .5% }
  .row .col-lg-6:last-child { padding-left: .5% }
  .row .col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  section article ul li { width: calc(33.33% - 2em - 7px); margin-top: 5px; margin-left: 5px; border-radius: 2px; }

  section article li:first-child, section li:nth-child(2), section li:nth-child(3) { margin-top: 0; }
}
@media screen and (max-width: 1024px) {
  .col-btn { padding-top: 2em; }
  .row .col-lg-4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; }
  .row .col-lg-6 { -ms-flex: 0 0 49.5%; flex: 0 0 49.5%; max-width: 49.5%; }
  .row .col-lg-6:first-child { padding-right: .5% }
  .row .col-lg-6:last-child { padding-left: .5% }

  .row .col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
}
@media screen and (max-width: 768px) {
  .col-btn { padding-top: 2em !important; }
  nav .container-fluid { padding: 10px; width: calc(100% - 20px); }
  .row .col-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .row .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .row .col-md-6 { -ms-flex: 0 0 49.5%; flex: 0 0 49.5%; max-width: 49.5%; }
  .row .col-md-6:first-child { padding-right: .5% }
  .row .col-md-6:last-child { padding-left: .5% }

  section article ul li { width: calc(50% - 2em - 7px); margin-top: 5px; margin-left: 5px; border: 1px solid #ccc; background-color: #fafafa; border-radius: 2px; }

  section article li:first-child, section li:nth-child(2) { margin-top: 0; }

  .order-1 { order: 1; }
  .order-2 { order: 2; }
  .order-3 { order: 3; }
  .order-4 { order: 4; }
  .order-5 { order: 5; }
}
@media screen and (max-width: 425px) {
  nav ul { justify-content: flex-start; }
  .modal .modal-container { width: 90% !important; }
  nav .container-fluid { padding: 10px; width: calc(100% - 20px); }
  .list li { display: block; }
  .list li + li { padding-left: 0; margin-left: 0; border: none; padding-top: 5px; }
  .row .col-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .row .col-12 + .col-12 { padding-top: 1em; }

  .order-1 { order: 1; }
  .order-2 { order: 2; }
  .order-3 { order: 3; }
  .order-4 { order: 4; }
  .order-5 { order: 5; }

  section article ul li { width: calc(100% - 2em - 2px); border-radius: 2px; margin-left: 0 !important; }
  section article li + li { margin-top: 1.3em !important; }
}
